img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.container {
  margin: auto;
  width: 100%;
}

.container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  width: 100%;
}